{% extends "page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="event/">Adicionar evento</a>
    <hr>
    {% if events %}
        <table border="1" cellpadding="10" cellspacing="0">
            <tr style="background-color: #CCC">
                <th>Título</th>
                <th>Data do Evento</th>
                <th>Ações</th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.get_event_date }}</td>
                    <td>[<a href="event/?id={{ event.id }}">Editar</a>] | [<a href="event/delete/{{ event.id }}">Excluir</a>]</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>Não há eventos para serem mostrados</h1>
    {% endif %}

{% endblock %}