{% extends "page.html" %}

{% block content %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}

    <label for="title">Título</label><br>
    <input type="text" name="title" id="title">
    <br><br>

    <label for="event_date">Data do Evento</label><br>
    <input type="datetime-local" name="event_date" id="event_date">
    <br><br>

    <label for="description">Descrição</label><br>
    <textarea name="description" id="description" rows="5" cols="24"></textarea>
    <br><br>

    <input type="submit" value="Salvar">
    <button type="button" onclick="window.location = '/'">Cancelar</button>

</form>

{% endblock %}